<!DOCTYPE html>

<html>
    <head>
        <title>Roadmap</title>
        <link rel="shortcut icon" type="image/png" href="images/favicon.png">
        <link rel="stylesheet" href='bower_components/normalize.css/normalize.css'/>
        <link rel="stylesheet" href='bower_components/font-awesome/css/font-awesome.css'/>
        <link rel="stylesheet" media="screen" href="stylesheets/main.css">

        <!-- Needed for google api -->
        <script type="text/javascript" src="//apis.google.com/js/client.js"></script>

        <script data-main="javascript/roadmap" src="bower_components/requirejs/require.js"></script>

    </head>
    <body class="ng-cloak">
        <div class="chooser" ng-controller="CalendarChooser">
            <div id="chooser" class="calendar-chooser" ng-class="classNeedCalendar">
				<ul class="calendar-list" >
					<li ng-repeat="calendar in list" class="calendar" ng-click="choose(calendar)">{{calendar.summary}}</li>
				</ul>
			</div>
        </div>
        <div class="toolbar">
            <div class="toolbar-container" ng-controller="ProjectToolbar">
				<div id="project-toolbar">
					<i class="fa fa-list-ul calendar-reset" ng-click="calendarReset()"></i>
				</div>
			</div>
        </div>
        <div class="timebar">
            <div id="time-bar"></div>
        </div>
        <div class="grid-content">
            <div ng-controller="ProjectList">
                <br><br><br><br>{{hello}}
            </div></div>

    </body>
</html>

