html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFF;
    color: #555;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.ng-cloak {
    display: none;
}


.chooser {
    position: relative;
    z-index: 10;
}

.calendar-chooser{
    position: absolute;
    top : 0;
    left : 20px;
    background-color: white;
    border: 1px solid #BBB;
    padding: 8px;
}


.calendar-list {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    padding-left: 8px;
    padding-top: 4px;
}

.calendar {
    cursor: pointer;
    padding: 2px;
}

.calendar:hover {
   background-color: #ddd;
}

.calendar-selected {
    text-decoration: underline;
}

.calendar-reset {
    padding: 2px 8px 0 0;
    margin-left: -30px;
}

.toolbar .daysScale, .toolbar .weeksScale, .toolbar .monthsScale {
     text-decoration: underline;
}

.toolbar {
    position: fixed;
    background: white;
    border-bottom: 1px solid #BBB;
    width: 100%;
    height: 40px;
    z-index: 2;
}
.toolbar-container {
    padding: 8px 40px;
}

.toolbar-container:after {
    clear: both;
    display: block;
    content: "";
}

.clearfix:after {
    clear: both;
    display: block;
    content: "";
}

.timebar {
    position: fixed;
    background: white;
    border-bottom: 1px solid #BBB;
    padding-top: 40px;
    width: 100%;
    z-index: 1;
}

.TimeBar-Prev{
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.TimeBar-Prev:hover,  .TimeBar-Next:hover {
    background-color: #EEE;
}

.TimeBar-Next{
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.TimeBar-Ticks {
    min-width: 2400px;
    padding-left: 40px;
}
.timebar .month {
    float: left;
    width: 80px;
    max-width: 80px;
    font-size: 10px;
}

.timebar .startyear {
    font-weight: bold
}
.timebar .quarter {
    text-decoration: underline;
}

.grid-content{
    background-color: transparent;
    background-image: linear-gradient(90deg,  transparent 49%,  rgba(0,0,0,.1) 50%, transparent 51%, transparent);
    min-height: 100%;
    background-size: 80px 80px;
    padding: 0;
    margin: 0;
}

#project-list {
    padding : 80px 0px;
}



.ProjectList {
   list-style-type: none;
   margin: 0;
   padding: 0;
}


.Project {
    position : relative;
    padding: 10px 42px 10px 42px;
}

.Project:nth-child(odd) {
    background-color: rgba(230,230,230,.5);
}


.Project:hover {
    background-color: rgba(215,215,215,.5);
}

.Project .row-over {
    display: none;
}
.Project:hover .row-over {
    display: block;
}


.Project-Name {
    padding-right: 8px;
}
.project-name-edit {
    color: #AAA;
    font-size: 0.8em;
}

.Project-timebar {
    height: 8px;
    background-color: rgba(91, 192, 222, 0.7);
    width: 8px;
    margin-left: 40px;
}

.Project-timebar > .timebar-body {
	cursor: move;
	height: 100%;
}

.Project-timebar > .timebar-hand {
	width: 3px;
	cursor: ew-resize;
	z-index: 2;
	height: 100%;
}






.Project-Description-Text {
    width: 550px;
    height: 150px;
    border-radius: 3px;
    margin-left: 8px;
    border-color: #ccc;
}


.Project-Attendees {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Project-Attendee {
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(91, 192, 222, 0.7);
    padding: 0 8px 0 8px;
    margin-right: 12px;
    margin-top: 3px;
}

.Project-Attendee > .delete-icon {
    width: 8px;
    position: relative;
    padding-left: 12px;
    padding-right: 0px;
}
.Project-Attendee > .delete-icon:after {
    color: white;
}

.Project-delete.delete-icon {
    left: 20px;
    top : 7px;
}

.ProjectEditor {
	position: absolute;
	top : 0;
	left: 20px;
	z-index: 10;
	background-color: white;
    border: 1px solid #BBB;
    padding: 8px;
}

.ProjectEditor h4 {
	margin: 0;
	padding-bottom: 8px;
}

.ProjectEditor input[type=text] {
	width: 480px;
}
.ProjectEditor input[type=date] {
	width: 10em;
}

.ProjectEditor-Button {
	padding-top: 8px;
}

.ProjectEditor-Button button + button {
	margin-right: 6px;
}

.history {
    position: absolute;
    bottom: 0;
    right: 3px;
    background: white;
    border-top : 1px solid #BBB;
    border-right : 1px solid #BBB;
    border-left : 1px solid #BBB;
    padding: 8px;
    max-height: 200px;
    width: 500px;
    overflow: scroll;
    z-index: 2;
}


.history ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.history li {
	padding-bottom: 4px;
	color: #BBB;
}

.history li .timestamp {
	font-size: 0.8em;
	color: #BBB;
}

.history li.selected {
	color: black;
}

.history li .PROJECT_SAVE:before {
		content: "\f0c7";
}

.history li .PROJECT_DESTROY:before{
		content: "\f1f8";
}


.confirm {
    position: absolute;
    bottom: 0;
    left: 3px;
    background: white;
    border-top : 1px solid #BBB;
    border-right : 1px solid #BBB;
    border-left : 1px solid #BBB;
    padding: 8px;
    max-height: 200px;
    width: 500px;
    overflow: scroll;
    z-index: 2;
}

.confirm ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.confirm li {
    padding-bottom: 4px;
}

.confirm li .timestamp {
    font-size: 0.8em;
    color: #BBB;
}

.confirm li .PROJECT_DESTROY:before{
    content: "\f1f8";
}




.delete-icon {
    position: absolute;
    padding: 0 5px;
    cursor: pointer;
}
.delete-icon:after {
    font-size: 10px;
    font-weight: bold;
    content : "✕";
    color: #ccc;
}


.collapse-panel.collapse-panel-close {
    display: none;
}
.collapse-panel.collapse-panel-open {
    display: block;
}
.collapse-toggle {
    font-family: 'FontAwesome';
    position: absolute;
    padding: 0 5px;
    cursor: pointer;
    left: 20px;
}
.collapse-toggle.collapse-toggle-close:after {
    font-size: 12px;
    font-weight: bold;
    content : "\f101";
    color: #ccc;
}
.collapse-toggle.collapse-toggle-open:after {
    font-size: 12px;
    font-weight: bold;
    content : "\f103";
    color: #ccc;
}


.muted {
	color : #BBB;
}

.clickable {
    cursor: pointer;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.toolbar-separator {
	padding-left: 4em;
}

